/* Modal Overlay */
body {
  font-family: "DM Sans", sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--nav-width);
}

/* Modal Container */
.modal-container {
  background: white;
  padding: 2rem 2.5rem;
  border-radius: 0.75rem;
  width: 90vw;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

/* Heading Style */
.modal-header h2 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: black;
}
.modal-header {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* Save Button Container */
.modal-footer {
  margin-top: 0.4rem;
}

.modal-footer button {
  width: 100%;
  height: 2.2rem;
  background: var(--color-primary2);
  border-radius: 0.3125rem;
  padding: 0 0.5rem;
}

.modal-footer button:hover {
  background: var(--color-purplegrey);
}

.modal-footer button:active {
  background: var(--color-active);
}

.modal-footer button span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: white;
}

/* Form */
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  overflow-y: auto;
}

/* Input Field Sections */
.inputField {
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
}

.inputField label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: black;
  margin-bottom: 0.2rem;
}

.inputField input {
  width: 100%;
  height: 2.2rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--color-grey3);
  color: black;
  padding: 0 0.5rem;
}

.inputField .error {
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
  height: 0.8rem;
  color: var(--color-error);
}
