.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.profileContainer header {
  display: flex;
  justify-content: space-between;
}

.profileContainer h1 {
  font-size: 2rem;
  font-weight: bolder;
}

.nameCard {
  display: flex;
  justify-content: space-between;
  padding: 40px 25px;
  border-radius: 10px;
  background-color: white;
}
.nameAndTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nameAndTitle span:nth-child(1) {
  font-weight: bolder;
}

.switch {
  display: flex;
  gap: 20px;
}

.infoContainer {
  display: flex;
  gap: 32px;
}

@media (max-width: 820px) {
  .nameCard {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .infoContainer {
    flex-direction: column;
  }
}

.funnyButton {
  border: 1px solid black;
}

.services {
  background-color: red;
}

.profilePhotoButton {
  margin: auto 0;
}

.directoryColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 12px;
}

.directoryTitle {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
