.root {
  position: fixed;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  gap: 0.75rem;
  border-radius: 10px;
  background-color: #1d9b48;
  z-index: 100000;
}

.text {
  color: white;
  font-size: 1rem;
  margin: 0;
}

.closeButton {
  color: white;
}
