.announcementContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: white;
  border-radius: 10px;
  gap: 2rem;
  width: 100%;
}

.topRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.topLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}

.authorColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.authorName {
  margin: 0;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.recipients {
  margin: 0;
  color: black;
  font-size: 0.875rem;
  font-weight: normal;
}

.threeDotsButton {
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcementTitle {
  color: var(--color-primary2);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "DM-sans";
}

.announcementBody {
  margin: 0;
  color: black;
  font-size: 1rem;
  font-weight: normal;
}

.menuContainer {
  position: absolute;
  top: 88px;
  right: 40px;
  border-radius: 10px;
  border: 1px solid #b4b4b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 1.5rem;
}

.menuButton {
  width: 100%;
  padding: 0.25rem 1.5rem;
}

.repliesDivider {
  width: 100%;
  height: 0;
  border-top: 1px solid var(--color-grey4);
}

.repliesContainer {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.replyButton {
  margin-right: auto;
  padding: 0.25rem 1.5rem;
}
