@font-face {
  font-family: 'DM-sans';
  src: url('../../public/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype'); 
  font-weight: 100 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary1:#3b3b62;
  --color-primary2:#5189ae;
  --color-primary3:#4368a4;

  --color-secondary1: #eff3f7;
  --color-secondary2: #53b0d1;

  --color-background:#eff3f7;
  --color-surface:#ffffff;
  --color-grey0: #f3f3f3;
  --color-success:#3bb966;
  --color-error:#b93b3b;
  --color-text1: #333435;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--color-text1);
  background: var(--color-background);
  font-family: 'DM-sans', Arial, Helvetica, sans-serif;
}
