.container {
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary2);
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.5rem;
  color: black;
}
