.root {
  position: fixed;
  top: 3rem;
  right: 25rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--color-grey0);
  padding: 8px;
  border-radius: 8px;
}

.languageDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 18px;
}

.languagesContainer {
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: gray;
}

.button {
  width: 100%;
  padding: 6px 12px;
  background-color: white;
}
