.pillbutton {
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 15px;
  border: 1px solid var(--color-grey3);
  padding: 0.5rem 0.8rem;
}

.active {
  background: var(--color-primary2);
  color: white;
}
