.profilepic {
  background-color: var(--color-grey2);
  color: var(--color-primary2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;

  min-width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
  overflow: hidden;
}

.small {
  width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
}

.medium {
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
}

.large {
  width: 8rem;
  height: 8rem;
  border-radius: 500px;
  font-size: 6rem;
}
