.root {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.textAreaField {
  width: 100%;
  padding: 8px 16px;
  border: none;
  font-size: 1rem;
  resize: vertical;
  min-height: 150px;
  background: unset;
}

.errorMessage {
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
  height: 0.8rem;
  color: var(--color-error);
}

.buttonsRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  padding: 0.25rem 1.5rem;
}
