.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--color-grey0);
  padding: 8px;
  border-radius: 8px;
}

.userDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 18px;
}

.userCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.userName {
  margin: 0;
  font-size: 18px;
  color: #0c2b35;
  font-weight: 600;
}

.userTitle {
  margin: 0;
  font-size: 14px;
  color: black;
}

.userRole {
  margin: 0;
  font-size: 14px;
  color: #909090;
}

.buttonsContainer {
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: gray;
}

.button {
  width: 100%;
  padding: 6px 12px;
  background-color: white;
}
