.SideNavbar {
  display: flex;
  width: clamp(185px, 23vw, 296px);
  background-color: var(--color-primary2);
  padding: clamp(4px, 1vw, 40px);
  color: white;
  font-size: 1rem;
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.cards {
  gap: 20px;
}

.decoration {
  display: flex;
  align-items: center;
  margin-bottom: clamp(10px, 5vh, 80px);
  font-size: 26px;
  gap: clamp();
}

@media (max-height: 300px) {
  .decoration {
    display: none;
  }
}

@media (max-height: 400px) {
  #overview {
    display: none;
  }
}

@media (max-width: 500px) {
  .decoration img {
    display: none;
  }
}

@media (max-width: 800px) {
  .decoration {
    justify-content: center;
  }
}

#logo {
  width: 48px;
  height: auto;
}

#logout {
  margin-top: auto;
}
