.SideNavbar {
  width: clamp(200px, 20%, 300px); 
  height: 100vh;
  background-color: var(--color-surface);
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  color: var(--color-primary1);
}

#logo {
  width: 40px;
  height: auto;
}