.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-height: 80vh; /* Limit height to 80% of viewport height */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background: var(--color-surface);
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  margin-left: 9rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form > div {
  width: 100%;
  margin-bottom: 8px;
}

.form button {
  margin-top: 16px;
}

.title {
  color: var(--color-primary2);
  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  color: var(--color-text1);
  font-size: 21px;
  font-weight: 400;
  margin-top: 8px;
}

.label {
  color: var(--color-text1);
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 8px;
  display: block;
}

.optionalText {
  color: var(--color-grey4);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.input {
  display: flex;
  height: 40px;
  padding: 8px 18px;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: var(--color-surface);
  margin-top: 8px;
}

.languageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 8px;
  width: 100%;
}

.checkboxItem {
  display: flex;
  align-items: center;
}

.checkboxItem input[type="checkbox"] {
  margin-right: 8px;
}

.checkboxItem label {
  font-size: 16px;
}

.membershipSection {
  width: 100%;
  margin-top: 24px;
}

.membershipLabel {
  color: #000;
  font-size: 17px;
  font-weight: 400;
}

.sectionTitle {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}

.sectionText {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.backButton {
  color: #000;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}
