.darkContainer {
  background: #1e1e31;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: var(--color-surface);
  width: 80%;
  max-width: 700px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
}

.welcome {
  width: 100%;
  color: var(--color-primary2);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.membershipCategory {
  color: var(--color-primary2);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.backButton {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}
