.darkContainer {
  background: #1e1e31;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: var(--color-surface);
  width: 75%;
  max-width: 750px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
}

.welcome {
  width: 100%;
  color: var(--color-primary2);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.text {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonContainer {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
