.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: 80vh;
}

.form::-webkit-scrollbar {
  display: none;
}

.form > div {
  width: 100%;
  margin-bottom: 16px;
}

.title {
  color: var(--color-primary2);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.label {
  color: var(--color-text1);
  font-size: 20px;
  font-weight: 400;
}

.input {
  display: flex;
  height: 40px;
  padding: 8px 18px;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: var(--color-surface);
  margin-top: 8px;
}

.degreeButtonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  width: 100%;
  max-width: 300px;
}

.degreeButton {
  padding: 8px 24px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: var(--color-surface);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
}

.degreeButtonSelected {
  background: var(--color-primary2);
  color: white;
  border: 1px solid var(--color-primary2);
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.backButton {
  color: #000;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}

.radioGroup {
  display: flex;
  gap: 24px;
  margin-top: 12px;
}
