.root {
  border-radius: 10px;
  background-color: white;
  padding: 2.5rem 4rem;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

.textColumn {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
}

.countText {
  margin: 0;
  color: black;
  font-size: 36px;
}

.labelText {
  margin: 0;
  color: black;
  font-size: 20px;
  text-wrap: nowrap;
}

.goButton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--color-primary2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
