.root {
  border-radius: 10px;
  background-color: white;
  padding: 2rem 2.5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 208px;
  width: 242px;
}

.bottomPurple {
  height: 0.75rem;
  width: 100%;
  background-color: var(--color-primary2);
  position: absolute;
  left: 0;
  bottom: 0;
}
