.tabsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;
  width: 100%;
  border-bottom: 1px solid var(--color-grey4);
  color: var(--color-grey4);
}

.tab {
  font-size: 1rem;
  padding: 4px;
  cursor: pointer;
}

.activeTab {
  color: var(--color-primary2);
  border-bottom: 3px solid var(--color-primary2);
}
