/* Modal Overlay */
body {
  font-family: "DM Sans", sans-serif;
}

/* Form */
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  overflow-y: auto;
}

/* Input Field Sections */
.inputField {
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
}

.inputField label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: black;
  margin-bottom: 0.2rem;
}

.inputField input {
  width: 100%;
  height: 2.2rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--color-grey3);
  color: black;
  padding: 0 0.5rem;
}

.inputField .error {
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
  height: 0.8rem;
  color: var(--color-error);
}
