/* Forms and Fields */

.infoField {
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
}

.infoFieldBox {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.8rem;
  font-size: 0.8rem;
  border: 1px solid var(--color-grey3);
  border-radius: 3px;
}
.errorMessage {
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
  height: 0.8rem;
  color: var(--color-error);
}

.red {
  color: var(--color-error);
}
