.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--nav-width);
}

.modalContainer {
  background: white;
  padding: 2rem 2.5rem;
  border-radius: 0.75rem;
  width: 90vw;
  max-width: 550px;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  overflow-y: scroll;
}

.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.modalHeader {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: black;
}

.buttonsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}
