.picture {
  background-color: var(--color-grey2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
  position: relative;

  width: 200px;
  height: 200px;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.buttonsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
