.root {
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 520px;
  padding: 0 12px;
}

.searchContainer {
  position: relative;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: white;
}

.searchBar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 17px;
  padding-left: 2.5rem;
  border: 1px solid var(--color-grey3);
  border-radius: 0.7rem;
  background-color: transparent;
}

.searchBar::placeholder {
  font-size: 17px;
}

.usersContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}
